src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.2/mule-http.xsd
        http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.2/mule-cxf.xsd">

    <description>
    Example Mule application to demonstrate WebService calling external *nix shell scripts
    </description>

    <flow name="main">
        <http:inbound-endpoint host="localhost" port="1082" path="fileService" exchange-pattern="request-response">
            <cxf:jaxws-service serviceClass="com.mulesoft.example.muleexampleextscripts.FileService"/>
        </http:inbound-endpoint>

        <component class="com.mulesoft.example.muleexampleextscripts.FileServiceImpl"/>

        <logger level="INFO" message="Payload BEFORE is: #[payload:]"/>

        <!-- Alternative-2 method to invoke Unix (type) commands using 'groovy' -->
        <expression-transformer evaluator="groovy" expression="'date'.execute().text"/>

        <logger level="INFO" message="Payload AFTER is: #[payload:]"/>

    </flow>
</mule>
